.img-wrap, .cdmx-wrap {
  display: flex;
}

#about {
  header {
    position: relative;
  }
  header h4 {
    color: #2B2C30;
    opacity: 0.9;
  }
}

#offer {
  background-color: $blue;
  h3 {
    color: $white;
  }
}

@media screen and (min-width: 1280px) {

#about header {
  padding-bottom: 177px;
  .arrow#one {
    bottom: 281px;
  }
  .underscore {
    top: 628px;
  }
  .arrow#two {
    top: 300px;
  }
}

h1 {
  margin-bottom: 113px;
}

.founder-wrap {
  display: flex;
  flex-direction: column;
  h4 {
    margin-top: 49px;
  }
  p {
    height: 108px;
  }
}

.img-wrap#eduardo {
  width: 100%;
  height: 311px;
}

#eduardo .portrait {
  background: url('../assets/images/eduardo.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-wrap#kyle {
  width: 100%;
  height: 410px;
}

#kyle .portrait {
  background: url('../assets/images/kyle.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#offer {
  padding: 170px 0 119px 0;
  #strategy, #design {
    margin-top: 21px;
  }
  h4 {
    padding-left: 16px;
  }
  h4:before {
    content: '';
    background: url('../assets/images/h4-arrow.svg') no-repeat;
    background-size: 100% 100%;
    width: 13px;
    height: 13px;
    position: absolute;
    margin: 9px 0 0 -20px;
  }
  ul {
    margin-bottom: 50px;
  }
  li {
    opacity: 0.8;
    @include din-regular;
    @include antialiased;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
    padding-left: 16px;
  }
  li:before {
    content: '';
    background: url('../assets/images/bullet.svg') no-repeat;
    background-size: 100% 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    margin: 17px 0 0 -16px;
  }
}

#location {
  padding: 168px 0;
  h3 {
    margin-top: 36px;
  }
}

.cdmx-wrap {
  width: 100%;
  height: 408px;
}

.cdmx-wrap#aerial {
  margin-bottom: 128px;
}

#aerial .cdmx {
  background: url('../assets/images/mexico-city-aerial.jpg') top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#downtown .cdmx {
  background: url('../assets/images/mexico-city-downtown.jpg') top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.details-wrap {
  display: flex;
  flex-direction: column;
}

#address {
  margin-top: 78px;
}

#contact {
  margin-top: 28px;
}

}



@media screen and (max-width: 1279px) and (min-width: 900px) {

#about header {
  padding-bottom: 189px;
  .arrow#one {
    top: 188px;
  }
  .underscore {
    top: 636px;
  }
  .arrow#two {
    bottom: 104px;
  }
}

h1 {
  margin-bottom: 75px;
}

.founder-wrap {
  display: flex;
  flex-direction: column;
  h4 {
    margin-top: 41px;
  }
  p {
    height: 108px;
  }
}

.img-wrap#eduardo {
  width: 100%;
  height: 252px;
}

#eduardo .portrait {
  background: url('../assets/images/eduardo.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-wrap#kyle {
  width: 100%;
  height: 357px;
}

#kyle .portrait {
  background: url('../assets/images/kyle.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#offer {
  padding: 140px 0 118px 0;
  #strategy, #design {
    margin-top: 45px;
  }
  h3 {
    margin-bottom: 0px;
  }
  h4 {
    padding-left: 16px;
  }
  h4:before {
    content: '';
    background: url('../assets/images/h4-arrow.svg') no-repeat;
    background-size: 100% 100%;
    width: 13px;
    height: 13px;
    position: absolute;
    margin: 9px 0 0 -20px;
  }
  ul {
    margin-bottom: 34px;
  }
  li {
    opacity: 0.8;
    @include din-regular;
    @include antialiased;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
    padding-left: 16px;
  }
  li:before {
    content: '';
    background: url('../assets/images/bullet.svg') no-repeat;
    background-size: 100% 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    margin: 17px 0 0 -16px;
  }
}

#location {
  padding: 149px 0;
  p {
    width: 80%;
  }
}

.cdmx-wrap {
  width: 100%;
  height: 408px;
}

.cdmx-wrap#aerial {
  margin-bottom: 76px;
}

#aerial .cdmx {
  background: url('../assets/images/mexico-city-aerial.jpg') top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cdmx-wrap#downtown {
  margin: 82px 0 88px 0;
}

#downtown .cdmx {
  background: url('../assets/images/mexico-city-downtown.jpg') top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.details-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#address {
}

#contact {

}

}
