.img-wrap, .cdmx-wrap {
  display: flex;
}

#about {
  header {
    position: relative;
  }
  header h4 {
    color: #2B2C30;
    opacity: 0.9;
  }
}

#offer {
  background-color: $blue;
  h3 {
    color: $white;
  }
}


// LARGE
@media screen and (min-width: 1280px) {

#about header {
  padding-bottom: 177px;
  h1 {
    margin-bottom: 113px;
  }
  .arrow#one {
    bottom: 281px;
  }
  .underscore {
    top: 628px;
  }
  .arrow#two {
    top: 300px;
  }
}

#about #nav {
  margin-bottom: 150px;
}

.founder-wrap {
  display: flex;
  flex-direction: column;
  h4 {
    margin-top: 49px;
  }
  p {
    height: 108px;
  }
}

.img-wrap#eduardo {
  width: 100%;
  height: 311px;
}

#eduardo .portrait {
  background: url('../assets/images/eduardo.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-wrap#kyle {
  width: 100%;
  height: 410px;
}

#kyle .portrait {
  background: url('../assets/images/kyle.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#offer {
  padding: 170px 0 119px 0;
  #strategy, #design {
    margin-top: 21px;
  }
  h4 {
    padding-left: 16px;
  }
  h4:before {
    content: '';
    background: url('../assets/images/h4-arrow.svg') no-repeat;
    background-size: 100% 100%;
    width: 13px;
    height: 13px;
    position: absolute;
    margin: 9px 0 0 -20px;
  }
  ul {
    margin-bottom: 50px;
  }
  li {
    opacity: 0.8;
    @include din-regular;
    @include antialiased;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
    padding-left: 16px;
  }
  li:before {
    content: '';
    background: url('../assets/images/bullet.svg') no-repeat;
    background-size: 100% 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    margin: 17px 0 0 -16px;
  }
}

#location {
  padding: 168px 0;
  h3 {
    margin-top: 36px;
  }
}

.cdmx-wrap {
  width: 100%;
  height: 408px;
}

.cdmx-wrap#aerial {
  margin-bottom: 128px;
}

#aerial .cdmx {
  background: url('../assets/images/mexico-city-aerial.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#downtown .cdmx {
  background: url('../assets/images/mexico-city-downtown.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.details-wrap {
  display: flex;
  flex-direction: column;
}

.address-wrap .aside.title {
  margin-top: 78px;
}

.contact-wrap .aside.title {
  margin-top: 28px;
}

}


// LARGE
@media screen and (max-width: 1279px) and (min-width: 900px) {

#about header {
  padding-bottom: 189px;
  h1 {
    margin-bottom: 75px;
  }
  .arrow#one {
    top: 188px;
  }
  .underscore {
    top: 636px;
  }
  .arrow#two {
    bottom: 104px;
  }
}

#about #nav {
  margin-bottom: 140px;
}

.founder-wrap {
  display: flex;
  flex-direction: column;
  h4 {
    margin-top: 41px;
  }
  p {
    height: 108px;
  }
}

.img-wrap#eduardo {
  width: 100%;
  height: 252px;
}

#eduardo .portrait {
  background: url('../assets/images/eduardo.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-wrap#kyle {
  width: 100%;
  height: 357px;
}

#kyle .portrait {
  background: url('../assets/images/kyle.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#offer {
  padding: 140px 0 118px 0;
  #strategy, #design {
    margin-top: 45px;
  }
  h3 {
    margin-bottom: 0px;
  }
  h4 {
    padding-left: 16px;
  }
  h4:before {
    content: '';
    background: url('../assets/images/h4-arrow.svg') no-repeat;
    background-size: 100% 100%;
    width: 13px;
    height: 13px;
    position: absolute;
    margin: 9px 0 0 -20px;
  }
  ul {
    margin-bottom: 34px;
  }
  li {
    opacity: 0.8;
    @include din-regular;
    @include antialiased;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
    padding-left: 16px;
  }
  li:before {
    content: '';
    background: url('../assets/images/bullet.svg') no-repeat;
    background-size: 100% 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    margin: 17px 0 0 -16px;
  }
}

#location {
  position: relative;
  padding: 149px 0;
  p {
    width: 80%;
  }
  .underscore#one {
    bottom: 176px;
  }
  .arrow#one {
    top: 716px;
  }
  .arrow#two {
    bottom: 79px;
  }
  .underscore#two {
    top: 412px;
  }
  .underscore#three {
    bottom: 488px;
  }
}

.cdmx-wrap {
  width: 100%;
  height: 408px;
}

.cdmx-wrap#aerial {
  margin-bottom: 76px;
}

#aerial .cdmx {
  background: url('../assets/images/mexico-city-aerial.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cdmx-wrap#downtown {
  margin: 82px 0 88px 0;
}

#downtown .cdmx {
  background: url('../assets/images/mexico-city-downtown.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.details-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

}


// MEDIUM
@media screen and (max-width: 899px) and (min-width: 600px) {

#about header {
  padding-bottom: 137px;
  position: relative;
  h1 {
    font-size: 66px;
    letter-spacing: -0.6px;
    line-height: 80px;
    margin-bottom: 112px;
  }
  .arrow#one {
    top: 156px;
  }
  .underscore#one {
    top: 708px;
  }
  .arrow#two {
    bottom: 535px;
  }
  .underscore#two {
    bottom: 112px;
  }
}

#about #nav {
  margin-bottom: 93px;
}

.founder-wrap {
  display: flex;
  flex-direction: column;
  h4 {
    margin-top: 58px;
  }
}

.img-wrap#eduardo {
  align-self: flex-end;
  width: 89%;
  height: 264px;
}

#eduardo .portrait {
  background: url('../assets/images/eduardo.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-wrap#kyle {
  margin-top: 92px;
  width: 59%;
  height: 352px;
}

#kyle .portrait {
  background: url('../assets/images/kyle.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#kyle + h4 {
  padding-left: 31%;
}

#kyle + h4 + p {
  padding-left: 31%;
}

#offer {
  position: relative;
  padding: 116px 0 113px 0;
  .underscore#one {
    bottom: 160px;
  }
  .arrow#two {
    top: 331px;
  }
  .underscore#two {
    bottom: 536px;
  }
  #strategy {
    margin-top: 53px;
  }
  h3 {
    margin-bottom: 0px;
  }
  ul {
    margin-bottom: 34px;
  }
  li {
    opacity: 0.8;
    @include din-regular;
    @include antialiased;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
  }
}

#location {
  position: relative;
  padding: 120px 0;
  p {
    width: 80%;
  }
  h3 {
    margin: 383px 0 11px 0;
  }
}

.cdmx-wrap {
  width: 100%;
  height: 313px;
}

.cdmx-wrap#aerial {
  position: absolute;
  width: 79.75%;
  left: 0;
  margin-bottom: 76px;
}

#aerial .cdmx {
  background: url('../assets/images/mexico-city-aerial.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cdmx-wrap#downtown {
  margin-top: 77px;
  position: absolute;
  width: 79.75%;
  right: 0;
}

#downtown .cdmx {
  background: url('../assets/images/mexico-city-downtown.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.details-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 460px;
}

}


// SMALL
@media screen and (max-width: 599px) and (min-width: 0px) {

#about header {
  padding: 28px 0 83px 0;
  h1 {
    font-size: 52px;
    letter-spacing: -0.7px;
    line-height: 56px;
    margin-bottom: 108px;
  }
  .arrow#one {
    top: 85px;
  }
  .underscore#one {
    top: 469px;
  }
}

#about #nav {
  margin-bottom: 96px;
}

.founder-wrap {
  display: flex;
  flex-direction: column;
  h4 {
    margin-top: 32px;
  }
}

.img-wrap#eduardo {
  align-self: flex-end;
  width: 100%;
  height: 264px;
}

#eduardo .portrait {
  background: url('../assets/images/eduardo.jpg') no-repeat center 25%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-wrap#kyle {
  margin-top: 56px;
  width: 100%;
  height: 264px;
}

#kyle .portrait {
  background: url('../assets/images/kyle.jpg') no-repeat center 20%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#offer {
  position: relative;
  padding: 79px 0 46px 0;

  #strategy {
    margin-top: 35px;
  }
  h3 {
    margin-bottom: 0px;
  }
  h4 {
    padding-left: 16px;
  }
  h4:before {
    content: '';
    background: url('../assets/images/h4-arrow.svg') no-repeat;
    background-size: 100% 100%;
    width: 13px;
    height: 13px;
    position: absolute;
    margin: 10px 0 0 -19px;
  }
  ul {
    margin-bottom: 30px;
  }
  li {
    opacity: 0.8;
    @include din-regular;
    @include antialiased;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    padding-left: 16px;
  }
  li:before {
    content: '';
    background: url('../assets/images/bullet.svg') no-repeat;
    background-size: 100% 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    margin: 12px 0 0 -16px;
  }
}

#location {
  position: relative;
  padding: 79px 0 0 0;
  h3 {
    margin: 0 0 21px 0;
    width: 72%;
  }
}

.cdmx-wrap {
  width: 100%;
  height: 313px;
}

.cdmx-wrap#aerial {
  width: 100%;
  margin: 36px 0 38px 0;
}

#aerial .cdmx {
  background: url('../assets/images/mexico-city-aerial.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cdmx-wrap#downtown {
  margin-top: 38px;
  width: 100%;
}

#downtown .cdmx {
  background: url('../assets/images/mexico-city-downtown.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.details-wrap {
  display: flex;
  flex-direction: column;
}

.aside.title {
  margin-bottom: 5px;
}

.contact-wrap {
  margin-top: 20px;
}

}
