.blink-3s {
  animation: blink-animation 3s steps(15, start) infinite;
  -webkit-animation: blink-animation 3s steps(15, start) infinite;
}

.blink-4s {
  animation: blink-animation 4s steps(15, start) infinite;
  -webkit-animation: blink-animation 4s steps(15, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
