.blink-3s {
  animation: blink-animation 3s steps(15, start) infinite;
  -webkit-animation: blink-animation 3s steps(15, start) infinite;
}

.blink-4s {
  animation: blink-animation 4s steps(15, start) infinite;
  -webkit-animation: blink-animation 4s steps(15, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

[data-aos=slide-up] {
  transform: translateY(10%) !important;
}

[data-aos=slide-up].aos-animate {
  transform: translateY(0) !important;
}

@media screen and (max-width: 599px) and (min-width: 0px) {
  h1.aos-animate {
    transition-delay: .1s !important;
  }
  h2.aos-animate {
    transition-delay: .1s !important;
  }
  header .arrow.aos-animate {
    transition-delay: .5s !important;
  }
  header .underscore.aos-animate {
    transition-delay: .8s !important;
  }
  img.device.aos-animate {
    transition-delay: .3s !important;
  }
  form.aos-animate {
    transition-delay: .1s !important;
  }
  [data-aos=slide-up] {
    transform: translateY(7%) !important;
  }
  [data-aos=slide-up].aos-animate {
    transform: translateY(0) !important;
  }
}
