$grey-1: #E9EBED;
$grey-2: #606164;
$grey-3: #535457;
$grey-4: #404144;
$grey-5: #2B2C30;
$orange: #F39F0A;
$green-1: #47BA9D;
$green-2: #0DA781;
$blue: #273348;
$white: #ffffff;
$strong-shadow: rgba(37,38,50,0.10);
