.arrow, .underscore, .note {
  position: absolute;
}

.arrow {
  width: 11px;
  height: 32px;
}

.arrow.green {
  background: url('../assets/images/arrow-green.svg') no-repeat;
  background-size: 11px 32px;
}

.arrow.orange {
  background: url('../assets/images/arrow-orange.svg') no-repeat;
  background-size: 11px 32px;
}

.underscore {
  width: 17px;
  height: 4px;
}

.underscore.green {
  background: url('../assets/images/underscore-green.svg') no-repeat;
  background-size: 17px 4px;
}

.underscore.orange {
  background: url('../assets/images/underscore-orange.svg') no-repeat;
  background-size: 17px 4px;
}


