#index header {
  background-color: white;
}

#asistia {
  background-color: #F7F7F7;
  box-sizing: border-box;
}

#opi {
  background-color: white;
  overflow: hidden;
  .device {
    display: flex;
    position: absolute;
    z-index: 0;
    background: url('../assets/images/opi-device.png') no-repeat;
  }
}

#requester {
  background-color: #F7F7F7;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .device {
    display: flex;
    position: absolute;
    z-index: 0;
    background: url('../assets/images/requester-device.png') no-repeat;
  }
}

#services {
  background-color: #273348;
  position: relative;
  z-index: 2;
  h3 {
    color: white;
  }
  h4 {
    color: $grey-1;
  }
  p {
    color: #D4D6DA;
  }
}

#close p:not(:last-child) {
  margin-bottom: 16px;
}

// LARGE SCREENS
@media screen and (min-width: 1280px) {

#index header {
  position: relative;
  padding: 56px 0 244px;
  .arrow#one {
    top: 334px;
  }
  .note#one {
    bottom: 106px;
  }
  .underscore {
    bottom: 184px;
  }
  .arrow#two {
    top: 184px;
  }
  .note#two {
    bottom: 130px;
  }
  h2 {
  width: 87%;
  margin-top: -63px;
  }
}

h3 {
  margin-bottom: 23px;
}

h3 + p {
  margin-bottom: 24px;
}

#asistia {
  padding-top: 234px;
  h3 {
    width: 90%;
    min-width: 380px;
  }
  .device {
    width: 100%;
    margin: -112px 0 -22% 0;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#opi {
  padding: 362px 0 293px 0;
  .device {
    background-size: 1033px 1072px;
    width: 1033px;
    height: 1072px;
    right: 0;
    top: -106px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
  p {
    width: 85%;
  }
}

#requester {
  padding: 231px 0 249px 0;
  h3 {
    width: 88%;
  }
  p {
    width: 80%;
  }
  .device {
    background-size: 1055px 1135px;
    width: 1055px;
    height: 1135px;
    left: 0;
    top: -442px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#services {
  padding: 167px 0;
  .underscore#one {
    bottom: 305px;
  }
  .arrow#one {
    top: 540px;
  }
  .underscore#two {
    top: 121px;
  }
  .arrow#two {
    bottom: 93px;
  }
  h4 {
    margin-bottom: 4px;
  }
  .mvp + p, .expansion + p {
    margin-bottom: 47px;
  }
  .mvp, .expansion {
    margin-top: -57px;
  }
  .scale + p {
    margin-bottom: 112px;
  }
}

#close {
  padding: 147px 0 147px 0;
  form {
    margin-top: -432px;
  }
}
}


// MEDIUM SCREENS
@media screen and (max-width: 1279px) and (min-width: 900px) {

#index header {
  padding: 56px 0 190px;
  .arrow#one {
    top: 401px;
  }
  .note#one {
    top: 513px;
  }
  .underscore {
    top: 700px;
  }
  .arrow#two {
    top: 136px;
  }
  .note#two {
    top: 270px;
  }
}
h1 {
  margin-bottom: 64px;
}
h3 {
  margin-bottom: 21px;
}
h3 + p {
  margin-bottom: 25px;
}
#asistia {
  padding: 234px 0 100px 0;
  h3 {
    width: 84%;
    min-width: 360px;
  }
  p {
    width: 83%;
  }
  .device {
    width: 100%;
    margin-top: -35%;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}
#opi {
  h3 {
    padding-top: 212px;
    width: 85%;
    min-width: 360px;
  }
  p {
    width: 85%;
  }
  .link {
    padding-bottom: 230px;
  }
  .device {
    background-size: 625px 650px;
    width: 625px;
    height: 650px;
    right: 0;
    bottom: 0;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#requester {
  padding: 231px 0 249px 0;
  h3 {
    width: 96%;
    min-width: 360px;
  }
  p {
    width: 84%;
  }
  .device {
    background-size: 652px 703px;
    width: 652px;
    height: 703px;
    left: 0;
    top: -442px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#services {
  padding: 167px 0;
  .underscore#one {
    bottom: 288px;
  }
  .arrow#one {
    top: 432px;
  }
  .underscore#two {
    top: 117px;
  }
  .arrow#two {
    bottom: 92px;
  }
  h4 {
    margin-bottom: 4px;
  }
  .mvp + p, .expansion + p {
    margin-bottom: 47px;
  }
  .mvp, .expansion {
    margin-top: -57px;
  }
  .scale + p {
    margin-bottom: 112px;
  }
}

#close {
  position: relative;
  padding: 132px 0;
  form {
    margin-top: 80px;
  }
  .note {
    top: 806px;
  }
  .arrow#one {
    top: 1080px;
  }
  .underscore#one {
    top: 749px;
  }
  .underscore#two {
    top: 117px;
  }
  .arrow#two {
    top: 424px;
  }
}
}


// SMALL SCREENS
@media screen and (max-width: 899px) and (min-width: 600px) {

#index header {
  padding: 56px 0 322px;
  .note#one {
    top: 735px;
  }
  .underscore {
    top: 669px;
  }
  .arrow#two {
    top: 144px;
  }
  .note#two {
    top: 591px;
  }
}
h1 {
  margin-bottom: 23px;
}
h3 {
  margin-bottom: 21px;
}
h3 + p {
  margin-bottom: 25px;
}
#asistia {
  padding-top: 116px;
  h3 {
    width: 86%;
    max-width: 440px;
  }
  p {
    max-width: 450px;
  }
  .device {
    width: 100%;
    margin: 73px 0 -40% 0;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}
#opi {
  h3 {
    width: 86%;
    padding-top: 60%;
  }
  p {
    width: 85%;
  }
  .link {
    padding-bottom: 662px;
  }
  .device {
    background-size: 625px 650px;
    width: 625px;
    height: 650px;
    left: 0;
    bottom: -68px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#requester {
  h3 {
    width: 96%;
    padding-top: 116px
  }
  p {
    width: 84%;
  }
  .link {
    padding-bottom: 654px;
  }
  .device {
    background-size: 652px 703px;
    width: 652px;
    height: 703px;
    left: 0;
    bottom: -120px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#services {
  padding: 116px 0;
  .underscore#one {
    bottom: 296px;
  }
  .arrow#one {
    top: 382px;
  }
  .underscore#two {
    top: 84px;
  }
  .arrow#two {
    bottom: 52px;
  }
  .mvp + p, .expansion + p {
    margin-bottom: 47px;
  }
  .mvp, .expansion {
    margin-top: 23px;
  }
  .scale + p {
    margin-bottom: 75px;
  }
}

#close {
  position: relative;
  padding: 116px 0;
  h3 {
    max-width: 320px;
  }
  form {
    margin-top: 71px;
  }
  .note {
    bottom: 101px;
  }
  .arrow#one {
    bottom: 55px;
  }
  .underscore#two {
    top: 117px;
  }
  .arrow#two {
    bottom: 642px;
  }
}
}


// EXTRA-SMALL SCREENS

@media screen and (max-width: 599px) and (min-width: 0px) {
#index header {
  padding: 28px 0 101px;
  position: relative;
  .underscore {
    bottom: 47px;
  }
  .arrow#two {
    top: 88px;
  }
}
h1 {
  margin-bottom: 17px;
}
h2 {
    max-width: 430px;
}
h3 {
  margin-bottom: 21px;
  max-width: 400px;
}
h3 + p {
  margin-bottom: 19px;
}
p {
  max-width: 440px;
}
#asistia {
  padding-top: 79px;
  .device {
    width: 94%;
    margin: 45px auto -36% auto;
    display: flex;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}
#opi {
  h3 {
    padding-top: 48%;
  }
  p {
    width: 85%;
  }
  .link {
    padding-bottom: 628px;
  }
  .device {
    background-size: 625px 650px;
    width: 625px;
    height: 650px;
    left: 0;
    bottom: -68px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#requester {
  h3 {
    padding-top: 79px;
  }
  p {
    width: 84%;
  }
  .link {
    padding-bottom: 630px;
  }
  .device {
    background-size: 652px 703px;
    width: 652px;
    height: 703px;
    left: 0;
    bottom: -118px;
    filter: drop-shadow(0 40px 100px $strong-shadow);
  }
}

#services {
  padding: 79px 0;
  .underscore#one {
    bottom: 40px;
  }
  .arrow#one {
    top: 512px;
  }
  .underscore#two {
    top: 60px;
  }
  .mvp + p, .expansion + p {
    margin-bottom: 30px;
  }
  .mvp, .expansion {
    margin-top: 13px;
  }
  .scale + p {
    margin-bottom: 70px;
  }
}

#close {
  position: relative;
  padding: 79px 0 217px 0;
  form {
    margin-top: 56px;
  }
  .note {
    bottom: 114px;
  }
  .arrow#one {
    bottom: 68px;
  }
  .underscore#one {
    bottom: 233px;
  }
  }
}
