form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input, textarea {
  border: none;
  z-index: 1;
}

input[type=text], input[type=email], textarea {
  @include din-regular;
  @include antialiased;
  font-size: 18px;
  line-height: 27px;
  color: #B9B9BA;
  background-color: #F7F7F7;
  width: 100%;
  box-sizing: border-box;
  &:focus, &:hover {
    background-color: darken(#F7F7F7, 1%);
  }
}

input[type=text], input[type=email] {
  margin-bottom: 16px;
  padding: 20px 0 17px 23px;
}

textarea {
  height: 112px;
  margin-bottom: 32px;
  padding: 17px 23px 0 23px;
  resize: none;
}

input::placeholder, textarea::placeholder {
  @include din-regular;
  @include antialiased;
  font-size: 18px;
  line-height: 32px;
  color: #B9B9BA;
  position: relative;
}

input[type=submit] {
  @include din-bold;
  @include antialiased;
  font-size: 13px;
  letter-spacing: 1.81px;
  line-height: 32px;
  color: white;
  background-color: #60C4AB;
  width: 143px;
  padding: 12px 0;
  cursor: pointer;
  &:hover {
    background-color: $green-1;
  }
}


// MEDIUM SCREENS
@media screen and (max-width: 1279px) and (min-width: 900px) {
  form {
    align-items: flex-start;
  }
  input[type=text], input[type=email], textarea, input::placeholder, textarea::placeholder {
    font-size: 17px;
  }
}


// SMALL SCREENS
@media screen and (max-width: 899px) and (min-width: 600px) {
  input[type=text], input[type=email], textarea, input::placeholder, textarea::placeholder {
    font-size: 17px;
  }
}


// EXTRA-SMALL SCREENS
@media screen and (max-width: 599px) and (min-width: 0px) {
  form:before {
    content: '';
    background: url('../assets/images/arrow-green.svg') no-repeat;
    background-size: 11px 32px;
    width: 11px;
    height: 32px;
    position: absolute;
    margin: -42px 0 0 -22.9%;
  }
  input[type=text], input[type=email], textarea, input::placeholder, textarea::placeholder {
    font-size: 15px;
  }
  input[type=text], input[type=email], textarea {
    max-width: 380px;
  }
  input[type=text], input[type=email] {
    margin-bottom: 8px;
  }
  textarea {
    margin-bottom: 24px;
  }
  input[type=submit] {
    font-size: 11px;
    letter-spacing: 1.53px;
    width: 121px;
    padding: 9px 12px 7px 12px;
  }
}
