header {
  padding-top: 56px;
}

#nav {
  display: flex;
  align-items: center;
  li {
    display: inline-flex;
  }
}

#logo {
  display: flex;
}

@media screen and (min-width: 1280px) {
  #nav li:not(:last-child) {
    margin-right: 86px;
  }
  #logo img {
    width: 88px;
    height: auto;
  }
}

@media screen and (max-width: 1279px) and (min-width: 900px) {
  #nav li:not(:last-child) {
    margin-right: 70px;
  }
  #logo img {
    width: 88px;
    height: auto;
  }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
  #nav li:not(:last-child) {
    margin-right: 38px;
  }
  #logo img {
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 599px) and (min-width: 0px) {
  #logo img {
    width: 75px;
    height: auto;
  }

}
