header {
  padding-top: 57px;
}

nav {
  display: flex;
  align-items: center;
  li {
    display: inline-flex;
  }
}

footer nav {
  align-items: center;
  border-top: 1px solid rgba(43,44,48,0.08);
  .social-icon {
    display: inline-flex;
    transition: all 0.15s;
    &:hover {
      opacity: 0.9;
    }
  }
}

#logo {
  display: flex;
  opacity: 0.9;
  &:hover {
    opacity: 1.0;
  }
}


// LARGE
@media screen and (min-width: 1280px) {
  nav li:not(:last-child) {
    margin-right: 86px;
  }
  #logo img {
    width: 88px;
    height: auto;
  }
  footer nav {
    padding: 68px 0 65px 0;
  }
}


// MEDIUM
@media screen and (max-width: 1279px) and (min-width: 900px) {
  nav li:not(:last-child) {
    margin-right: 70px;
  }
  #logo img {
    width: 88px;
    height: auto;
  }
  footer nav {
    padding: 59px 0 57px 0;
  }
}


// SMALL
@media screen and (max-width: 899px) and (min-width: 600px) {
  header {
    padding-top: 62px;
  }
  nav {
    align-items: baseline;
    li:not(:last-child) {
      margin-right: 38px;
    }
  }
  #logo img {
    width: 80px;
    height: auto;
  }
  footer nav {
    padding: 52px 0 51px 0;
    .social-icon img {
      width: 29px;
      height: 29px;
    }
  }
}


// EXTRA-SMALL
@media screen and (max-width: 599px) and (min-width: 0px) {
  header {
    padding-top: 22px;
  }
  nav {
    align-items: baseline;
  }
  #logo img {
    width: 75px;
    height: auto;
  }
  footer nav {
    padding: 43px 0 40px 0;
    .social-icon img {
      width: 29px;
      height: 29px;
    }
  }
}
