h1 {
  @include neuzeit-bold;
  color: #2B2C30;
}

h2 {
  @include din-light;
  @include antialiased;
  color: #404144;
}

h3 {
  @include neuzeit-bold;
  color: #2B2C30;
}

h4 {
  @include din-bold;
  color: #E9EBED;
  letter-spacing: 0.8px;
}

p {
  @include din-regular;
  @include antialiased;
  color: #535457;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.link {
  @include din-bold;
  @include antialiased;
  cursor: pointer;
}

#nav .link {
  color: #606164;
  text-transform: uppercase;
  &:hover {
    color: $green-2;
  }
}

section .link {
  color: #47BA9D;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    background: url('../assets/images/link-arrow.svg') no-repeat;
    display: inline-flex;
  }
  &:hover {
    color: $green-2;
  }
}

.note {
  @include din-medium;
  @include antialiased;
  color: #404144;
}


// LARGE SCREENS
@media screen and (min-width: 1280px) {
h1 {
  font-size: 80px;
  line-height: 88px;
}
h2 {
  font-size: 42px;
  line-height: 56px;
}
h3 {
  font-size: 48px;
  line-height: 56px;
}
h4 {
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 32px;
}
p {
  font-size: 20px;
  line-height: 36px;
}
.link {
  line-height: 32px;
}
#nav .link {
  font-size: 13px;
  letter-spacing: 1.81px;
}
section .link {
  font-size: 14px;
  letter-spacing: 1.95px;
  &:before {
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
    margin-right: 8px;
  }
}
.note {
  font-size: 14px;
  line-height: 24px;
}
}


// MEDIUM SCREENS
@media screen and (max-width: 1279px) and (min-width: 900px) {
h1 {
  font-size: 74px;
  line-height: 80px;
}
h2 {
  font-size: 37px;
  line-height: 48px;
}
h3 {
  font-size: 44px;
  line-height: 56px;
}
h4 {
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 32px;
}
p {
  font-size: 19px;
  line-height: 36px;
}
.link {
  line-height: 32px;
}
#nav .link {
  font-size: 13px;
  letter-spacing: 1.81px;
}
section .link {
  font-size: 14px;
  letter-spacing: 1.95px;
  &:before {
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
    margin-right: 8px;
  }
}
.note {
  font-size: 14px;
  line-height: 24px;
}
}


// SMALL SCREENS
@media screen and (max-width: 899px) and (min-width: 600px) {
h1 {
  font-size: 74px;
  line-height: 76px;
}
h2 {
  font-size: 37px;
  line-height: 48px;
}
h3 {
  font-size: 44px;
  line-height: 56px;
}
h4 {
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 32px;
}
p {
  font-size: 19px;
  line-height: 36px;
}
.link {
  line-height: 32px;
}
#nav .link {
  font-size: 12px;
  letter-spacing: 1.67px;
}
section .link {
  font-size: 14px;
  letter-spacing: 1.95px;
  &:before {
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
    margin-right: 8px;
  }
}
.note {
  font-size: 13px;
  line-height: 24px;
}
}


// EXTRA-SMALL SCREENS
@media screen and (max-width: 599px) and (min-width: 0px) {
h1 {
  font-size: 52px;
  line-height: 56px;
}
h2 {
  font-size: 26px;
  line-height: 40px;
}
h3 {
  font-size: 35px;
  line-height: 40px;
}
h4 {
  font-size: 16px;
  letter-spacing: 0.75px;
  line-height: 32px;
}
p {
  font-size: 17px;
  line-height: 28px;
}
.link {
  line-height: 32px;
}
#nav .link {
  font-size: 12px;
  letter-spacing: 1.67px;
}
section .link {
  font-size: 13px;
  letter-spacing: 1.81px;
  &:before {
    background-size: 9px 9px;
    width: 9px;
    height: 9px;
    margin-right: 8px;
  }
}
.note {
  font-size: 13px;
  line-height: 24px;
}
}
