/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html {
  position: relative; }

body {
  margin: 0 0 150px; }

html, body, div, span, applet, object, iframe, p, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  min-width: 0px;
  margin: 0 auto; }

video {
  object-fit: fill; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none; }

@font-face {
  font-family: "din-light";
  src: url("../assets/fonts/din/light.woff") format("woff"), url("../assets/fonts/din/light.woff2") format("woff"), url("../assets/fonts/din/light.ttf") format("truetype"); }

@font-face {
  font-family: "din-regular";
  src: url("../assets/fonts/din/regular.woff") format("woff"), url("../assets/fonts/din/regular.woff2") format("woff"), url("../assets/fonts/din/regular.ttf") format("truetype"); }

@font-face {
  font-family: "din-medium";
  src: url("../assets/fonts/din/medium.woff") format("woff"), url("../assets/fonts/din/medium.woff2") format("woff"), url("../assets/fonts/din/medium.ttf") format("truetype"); }

@font-face {
  font-family: "din-bold";
  src: url("../assets/fonts/din/bold.woff") format("woff"), url("../assets/fonts/din/bold.woff2") format("woff"), url("../assets/fonts/din/bold.ttf") format("truetype"); }

@font-face {
  font-family: "neuzeit-bold";
  src: url("../assets/fonts/neuzeit/bold.woff") format("woff"), url("../assets/fonts/neuzeit/bold.woff2") format("woff"), url("../assets/fonts/neuzeit/bold.ttf") format("truetype"); }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -webkit-box-flex: 0 1 auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0 1 auto;
  /* OLD - Firefox 19- */
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.row > div:last-child {
  padding-right: 0; }

.gutter {
  padding-right: 0 !important; }

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }

.relative {
  position: relative; }

.start {
  -webkit-box-justify-content: flex-start;
  -moz-box-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start; }

.end {
  -webkit-box-justify-content: flex-end;
  -moz-box-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end; }

.between {
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.middle {
  -webkit-box-align-items: center;
  -moz-box-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }

@media screen and (max-width: 599px) and (min-width: 0px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .xs-gutter {
    padding-right: 0 !important; }
  .xs-hidden {
    display: none !important; }
  .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 auto;
    /* OLD - Firefox 19- */
    flex: 0 0 auto;
    padding-right: 1rem; }
  .col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-xs-1 {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xs-2 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xs-3 {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    -moz-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xs-4 {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xs-offset-1 {
    margin-left: 25%; }
  .col-xs-offset-2 {
    margin-left: 50%; }
  .col-xs-offset-3 {
    margin-left: 75%; }
  .stretch-xs {
    -webkit-box-align-items: stretch;
    -moz-box-align-items: stretch;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
  .flex-xs {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .start-xs {
    -webkit-box-justify-content: flex-start;
    -moz-box-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-xs {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-xs {
    -webkit-box-justify-content: flex-end;
    -moz-box-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-xs {
    -webkit-box-align-items: flex-start;
    -moz-box-align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .middle-xs {
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center; }
  .bottom-xs {
    -webkit-box-align-items: flex-end;
    -moz-box-align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .around-xs {
    -webkit-box-justify-content: space-around;
    -moz-box-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-xs {
    -webkit-box-justify-content: space-between;
    -moz-box-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-xs {
    -webkit-box-ordinal-group: -1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: -1;
    /* OLD - Firefox 19- */
    -ms-flex-order: -1;
    /* TWEENER - IE 10 */
    -webkit-order: -1;
    /* NEW - Chrome */
    order: -1; }
  .last-xs {
    -webkit-box-ordinal-group: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1;
    /* OLD - Firefox 19- */
    -ms-flex-order: 1;
    /* TWEENER - IE 10 */
    -webkit-order: 1;
    /* NEW - Chrome */
    order: 1; } }

@media screen and (max-width: 899px) and (min-width: 600px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px; }
  .sm-gutter {
    padding-right: 0 !important; }
  .sm-hidden {
    display: none !important; }
  .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 auto;
    /* OLD - Firefox 19- */
    flex: 0 0 auto;
    padding-right: 1rem; }
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-basis: 8.333%;
    -moz-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-sm-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-basis: 16.667%;
    -moz-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-basis: 33.333%;
    -moz-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-sm-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-basis: 41.667%;
    -moz-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-basis: 58.333%;
    -moz-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-sm-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-basis: 66.667%;
    -moz-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    -moz-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-basis: 83.333%;
    -moz-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-sm-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-basis: 91.667%;
    -moz-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.333%; }
  .col-sm-offset-2 {
    margin-left: 16.667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.333%; }
  .col-sm-offset-5 {
    margin-left: 41.667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.333%; }
  .col-sm-offset-8 {
    margin-left: 66.667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.333%; }
  .col-sm-offset-11 {
    margin-left: 91.667%; }
  .stretch-sm {
    -webkit-box-align-items: stretch;
    -moz-box-align-items: stretch;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
  .flex-sm {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .start-sm {
    -webkit-box-justify-content: flex-start;
    -moz-box-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-justify-content: flex-end;
    -moz-box-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align-items: flex-start;
    -moz-box-align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .bottom-sm {
    -webkit-box-align-items: flex-end;
    -moz-box-align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .around-sm {
    -webkit-box-justify-content: space-around;
    -moz-box-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-justify-content: space-between;
    -moz-box-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .first-sm {
    -webkit-box-ordinal-group: -1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: -1;
    /* OLD - Firefox 19- */
    -ms-flex-order: -1;
    /* TWEENER - IE 10 */
    -webkit-order: -1;
    /* NEW - Chrome */
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1;
    /* OLD - Firefox 19- */
    -ms-flex-order: 1;
    /* TWEENER - IE 10 */
    -webkit-order: 1;
    /* NEW - Chrome */
    order: 1; } }

@media screen and (max-width: 1279px) and (min-width: 900px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px; }
  .md-gutter {
    padding-right: 0 !important; }
  .md-hidden {
    display: none !important; }
  .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 auto;
    /* OLD - Firefox 19- */
    flex: 0 0 auto;
    padding-right: 1rem; }
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-basis: 8.333%;
    -moz-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-md-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-basis: 16.667%;
    -moz-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-basis: 33.333%;
    -moz-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-md-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-basis: 41.667%;
    -moz-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-basis: 58.333%;
    -moz-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-md-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-basis: 66.667%;
    -moz-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    -moz-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-basis: 83.333%;
    -moz-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-md-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-basis: 91.667%;
    -moz-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.333%; }
  .col-md-offset-2 {
    margin-left: 16.667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.333%; }
  .col-md-offset-5 {
    margin-left: 41.667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.333%; }
  .col-md-offset-8 {
    margin-left: 66.667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.333%; }
  .col-md-offset-11 {
    margin-left: 91.667%; }
  .stretch-md {
    -webkit-box-align-items: stretch;
    -moz-box-align-items: stretch;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
  .flex-md {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .start-md {
    -webkit-box-justify-content: flex-start;
    -moz-box-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-justify-content: flex-end;
    -moz-box-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align-items: flex-start;
    -moz-box-align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .middle-md {
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .bottom-md {
    -webkit-box-align-items: flex-end;
    -moz-box-align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .around-md {
    -webkit-box-justify-content: space-around;
    -moz-box-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-md {
    -webkit-box-justify-content: space-between;
    -moz-box-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: -1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: -1;
    /* OLD - Firefox 19- */
    -ms-flex-order: -1;
    /* TWEENER - IE 10 */
    -webkit-order: -1;
    /* NEW - Chrome */
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1;
    /* OLD - Firefox 19- */
    -ms-flex-order: 1;
    /* TWEENER - IE 10 */
    -webkit-order: 1;
    /* NEW - Chrome */
    order: 1; } }

@media screen and (min-width: 1280px) {
  .wrapper {
    padding-left: 90px;
    padding-right: 90px; }
  .lg-gutter {
    padding-right: 0 !important; }
  .lg-hidden {
    display: none;
    visibility: 0; }
  .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 auto;
    /* OLD - Firefox 19- */
    flex: 0 0 auto;
    padding-right: 1rem; }
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-basis: 8.333%;
    -moz-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-lg-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-basis: 16.667%;
    -moz-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-basis: 33.333%;
    -moz-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-lg-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-basis: 41.667%;
    -moz-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-basis: 58.333%;
    -moz-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-lg-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-basis: 66.667%;
    -moz-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    -moz-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-basis: 83.333%;
    -moz-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-lg-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-basis: 91.667%;
    -moz-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.333%; }
  .col-lg-offset-2 {
    margin-left: 16.667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.333%; }
  .col-lg-offset-5 {
    margin-left: 41.667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.333%; }
  .col-lg-offset-8 {
    margin-left: 66.667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.333%; }
  .col-lg-offset-11 {
    margin-left: 91.667%; }
  .stretch-lg {
    -webkit-box-align-items: stretch;
    -moz-box-align-items: stretch;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
  .flex-lg {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .start-lg {
    -webkit-box-justify-content: flex-start;
    -moz-box-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-justify-content: flex-end;
    -moz-box-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align-items: flex-start;
    -moz-box-align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .middle-lg {
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .bottom-lg {
    -webkit-box-align-items: flex-end;
    -moz-box-align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
  .around-lg {
    -webkit-box-justify-content: space-around;
    -moz-box-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-justify-content: space-between;
    -moz-box-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: -1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: -1;
    /* OLD - Firefox 19- */
    -ms-flex-order: -1;
    /* TWEENER - IE 10 */
    -webkit-order: -1;
    /* NEW - Chrome */
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1;
    /* OLD - Firefox 19- */
    -ms-flex-order: 1;
    /* TWEENER - IE 10 */
    -webkit-order: 1;
    /* NEW - Chrome */
    order: 1; } }

h1 {
  font-family: 'neuzeit-bold', sans-serif;
  color: #2B2C30; }

h2 {
  font-family: 'din-light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404144; }

h3 {
  font-family: 'neuzeit-bold', sans-serif;
  color: #2B2C30; }

h4 {
  font-family: 'din-bold', sans-serif;
  color: #E9EBED;
  letter-spacing: 0.8px; }

p {
  font-family: 'din-regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #535457; }

a {
  text-decoration: none;
  cursor: pointer; }

.link {
  font-family: 'din-bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer; }

#nav .link {
  color: #606164;
  text-transform: uppercase; }
  #nav .link:hover {
    color: #0DA781; }

section .link {
  color: #47BA9D;
  display: flex;
  align-items: center; }
  section .link:before {
    content: '';
    background: url("../assets/images/link-arrow.svg") no-repeat;
    display: inline-flex; }
  section .link:hover {
    color: #0DA781; }

.note {
  font-family: 'din-medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404144; }

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 80px;
    line-height: 88px; }
  h2 {
    font-size: 42px;
    line-height: 56px; }
  h3 {
    font-size: 48px;
    line-height: 56px; }
  h4 {
    font-size: 17px;
    letter-spacing: 0.8px;
    line-height: 32px; }
  p {
    font-size: 20px;
    line-height: 36px; }
  .link {
    line-height: 32px; }
  #nav .link {
    font-size: 13px;
    letter-spacing: 1.81px; }
  section .link {
    font-size: 14px;
    letter-spacing: 1.95px; }
    section .link:before {
      background-size: 11px 11px;
      width: 11px;
      height: 11px;
      margin-right: 8px; }
  .note {
    font-size: 14px;
    line-height: 24px; } }

@media screen and (max-width: 1279px) and (min-width: 900px) {
  h1 {
    font-size: 74px;
    line-height: 80px; }
  h2 {
    font-size: 37px;
    line-height: 48px; }
  h3 {
    font-size: 44px;
    line-height: 56px; }
  h4 {
    font-size: 17px;
    letter-spacing: 0.8px;
    line-height: 32px; }
  p {
    font-size: 19px;
    line-height: 36px; }
  .link {
    line-height: 32px; }
  #nav .link {
    font-size: 13px;
    letter-spacing: 1.81px; }
  section .link {
    font-size: 14px;
    letter-spacing: 1.95px; }
    section .link:before {
      background-size: 11px 11px;
      width: 11px;
      height: 11px;
      margin-right: 8px; }
  .note {
    font-size: 14px;
    line-height: 24px; } }

@media screen and (max-width: 899px) and (min-width: 600px) {
  h1 {
    font-size: 74px;
    line-height: 76px; }
  h2 {
    font-size: 37px;
    line-height: 48px; }
  h3 {
    font-size: 44px;
    line-height: 56px; }
  h4 {
    font-size: 17px;
    letter-spacing: 0.8px;
    line-height: 32px; }
  p {
    font-size: 19px;
    line-height: 36px; }
  .link {
    line-height: 32px; }
  #nav .link {
    font-size: 12px;
    letter-spacing: 1.67px; }
  section .link {
    font-size: 14px;
    letter-spacing: 1.95px; }
    section .link:before {
      background-size: 11px 11px;
      width: 11px;
      height: 11px;
      margin-right: 8px; }
  .note {
    font-size: 13px;
    line-height: 24px; } }

.arrow, .underscore, .note {
  position: absolute; }

.arrow {
  width: 11px;
  height: 32px; }

.arrow.green {
  background: url("../assets/images/arrow-green.svg") no-repeat;
  background-size: 11px 32px; }

.arrow.orange {
  background: url("../assets/images/arrow-orange.svg") no-repeat;
  background-size: 11px 32px; }

.underscore {
  width: 17px;
  height: 4px; }

.underscore.green {
  background: url("../assets/images/underscore-green.svg") no-repeat;
  background-size: 17px 4px; }

.underscore.orange {
  background: url("../assets/images/underscore-orange.svg") no-repeat;
  background-size: 17px 4px; }

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

input, textarea {
  border: none; }

input[type=text], textarea {
  font-family: 'din-regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #B9B9BA;
  background-color: #F7F7F7;
  width: 100%;
  box-sizing: border-box; }
  input[type=text]:focus, input[type=text]:hover, textarea:focus, textarea:hover {
    background-color: #f4f4f4; }

input[type=text] {
  margin-bottom: 16px;
  padding: 22px 0 20px 23px; }

textarea {
  height: 112px;
  margin-bottom: 32px;
  padding: 17px 23px 0 23px;
  resize: none; }

input::placeholder, textarea::placeholder {
  font-family: 'din-regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 32px;
  color: #B9B9BA;
  position: relative; }

input[type=submit] {
  font-family: 'din-bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  letter-spacing: 1.81px;
  line-height: 32px;
  color: white;
  background-color: #60C4AB;
  width: 143px;
  padding: 12px 0;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #47BA9D; }

@media screen and (max-width: 1279px) and (min-width: 900px) {
  form {
    align-items: flex-start; }
  input[type=text], textarea {
    font-size: 17px; } }

#nav {
  align-items: center; }
  #nav li {
    display: inline-flex; }
  #nav li:not(:last-child) {
    margin-right: 70px; }

@media screen and (min-width: 1280px) {
  #nav {
    margin-bottom: 150px; }
  #logo img {
    width: 88px;
    height: 15px; } }

@media screen and (max-width: 1279px) and (min-width: 900px) {
  #nav {
    margin-bottom: 139px; }
  #logo img {
    width: 88px;
    height: 15px; } }

@media screen and (max-width: 899px) and (min-width: 600px) {
  #nav {
    margin-bottom: 116px; }
  #logo img {
    width: 80px;
    height: 14px; } }

#index header {
  background-color: white; }

#asistia {
  background-color: #F7F7F7;
  box-sizing: border-box; }

#opi {
  background-color: white; }
  #opi .device {
    display: flex;
    position: absolute;
    z-index: 0;
    background: url("../assets/images/opi-device.png") no-repeat; }

#requester {
  background-color: #F7F7F7;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #requester .device {
    display: flex;
    position: absolute;
    z-index: 0;
    background: url("../assets/images/requester-device.png") no-repeat; }

#services {
  background-color: #273348;
  position: relative;
  z-index: 2; }
  #services h3 {
    color: white; }
  #services h4 {
    color: #E9EBED; }
  #services p {
    color: #D4D6DA; }

#close p:not(:last-child) {
  margin-bottom: 16px; }

@media screen and (min-width: 1280px) {
  #index header {
    padding: 56px 0 244px; }
    #index header .arrow#one {
      top: 334px; }
    #index header .note#one {
      top: 670px; }
    #index header .underscore {
      top: 610px; }
    #index header .arrow#two {
      top: 184px; }
    #index header .note#two {
      top: 622px; }
    #index header h2 {
      width: 87%;
      margin-top: -63px; }
  h3 {
    margin-bottom: 23px; }
  h3 + p {
    margin-bottom: 24px; }
  #asistia {
    height: 840px;
    padding-top: 234px; }
    #asistia h3 {
      width: 90%; }
    #asistia .device {
      width: 390px;
      height: 792px;
      margin-top: -466px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
  #opi {
    padding: 362px 0 293px 0; }
    #opi .device {
      background-size: 1033px 1072px;
      width: 1033px;
      height: 1072px;
      right: 0;
      top: -106px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
    #opi p {
      width: 85%; }
  #requester {
    padding: 231px 0 249px 0; }
    #requester .device {
      background-size: 1055px 1135px;
      width: 1055px;
      height: 1135px;
      left: 0;
      top: -82px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
  #services {
    padding: 167px 0; }
    #services .underscore#one {
      top: 969px; }
    #services .arrow#one {
      top: 540px; }
    #services .underscore#two {
      top: 121px; }
    #services .arrow#two {
      top: 1132px; }
    #services h4 {
      margin-bottom: 4px; }
    #services .mvp + p, #services .expansion + p {
      margin-bottom: 47px; }
    #services .mvp, #services .expansion {
      margin-top: -57px; }
    #services .scale + p {
      margin-bottom: 112px; }
  #close {
    padding: 147px 0 147px 0; }
    #close form {
      margin-top: -432px; } }

@media screen and (max-width: 1279px) and (min-width: 900px) {
  #index header {
    padding: 56px 0 190px; }
    #index header .arrow#one {
      top: 401px; }
    #index header .note#one {
      top: 513px; }
    #index header .underscore {
      top: 700px; }
    #index header .arrow#two {
      top: 136px; }
    #index header .note#two {
      top: 270px; }
  h1 {
    margin-bottom: 64px; }
  h3 {
    margin-bottom: 21px; }
  h3 + p {
    margin-bottom: 25px; }
  #asistia {
    padding: 234px 0 100px 0; }
    #asistia h3 {
      width: 84%; }
    #asistia p {
      width: 83%; }
    #asistia .device {
      width: 281px;
      height: 573px;
      margin-top: -478px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
  #opi {
    padding: 212px 0 230px 0; }
    #opi .device {
      background-size: 625px 650px;
      width: 625px;
      height: 650px;
      right: 0;
      top: -100px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
    #opi p {
      width: 85%; }
  #requester {
    padding: 231px 0 249px 0; }
    #requester h3 {
      width: 96%; }
    #requester p {
      width: 84%; }
    #requester .device {
      background-size: 1055px 1135px;
      width: 1055px;
      height: 1135px;
      left: 0;
      top: -82px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
  #services {
    padding: 167px 0; }
    #services .underscore#one {
      top: 940px; }
    #services .arrow#one {
      top: 432px; }
    #services .underscore#two {
      top: 117px; }
    #services .arrow#two {
      top: 1087px; }
    #services h4 {
      margin-bottom: 4px; }
    #services .mvp + p, #services .expansion + p {
      margin-bottom: 47px; }
    #services .mvp, #services .expansion {
      margin-top: -57px; }
    #services .scale + p {
      margin-bottom: 112px; }
  #close {
    position: relative;
    padding: 132px 0; }
    #close form {
      margin-top: 80px; }
    #close .note {
      top: 806px; }
    #close .arrow#one {
      top: 1080px; }
    #close .underscore#one {
      top: 749px; }
    #close .underscore#two {
      top: 117px; }
    #close .arrow#two {
      top: 424px; } }

@media screen and (max-width: 899px) and (min-width: 600px) {
  #index header {
    padding: 56px 0 322px; }
    #index header .note#one {
      top: 735px; }
    #index header .underscore {
      top: 669px; }
    #index header .arrow#two {
      top: 144px; }
    #index header .note#two {
      top: 591px; }
  h1 {
    margin-bottom: 23px; }
  h3 {
    margin-bottom: 21px; }
  h3 + p {
    margin-bottom: 25px; }
  #asistia {
    height: 975px;
    padding-top: 116px; }
    #asistia .device {
      width: 326px;
      height: 664px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
  #opi {
    padding: 212px 0 230px 0; }
    #opi .device {
      background-size: 625px 650px;
      width: 625px;
      height: 650px;
      right: 0;
      top: -100px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
    #opi p {
      width: 85%; }
  #requester {
    padding: 231px 0 249px 0; }
    #requester h3 {
      width: 96%; }
    #requester p {
      width: 84%; }
    #requester .device {
      background-size: 1055px 1135px;
      width: 1055px;
      height: 1135px;
      left: 0;
      top: -82px;
      filter: drop-shadow(0 40px 100px rgba(37, 38, 50, 0.1)); }
  #services {
    padding: 167px 0; }
    #services .underscore#one {
      top: 940px; }
    #services .arrow#one {
      top: 432px; }
    #services .underscore#two {
      top: 117px; }
    #services .arrow#two {
      top: 1087px; }
    #services h4 {
      margin-bottom: 4px; }
    #services .mvp + p, #services .expansion + p {
      margin-bottom: 47px; }
    #services .mvp, #services .expansion {
      margin-top: -57px; }
    #services .scale + p {
      margin-bottom: 112px; }
  #close {
    position: relative;
    padding: 132px 0; }
    #close form {
      margin-top: 80px; }
    #close .note {
      top: 806px; }
    #close .arrow#one {
      top: 1080px; }
    #close .underscore#one {
      top: 749px; }
    #close .underscore#two {
      top: 117px; }
    #close .arrow#two {
      top: 424px; } }
